#fotoslider{
    position:absolute;
    display: flex;
    flex-direction: row;
    
}
.foto{
    width: 400px;
    height: 400px;
}
#viewport {
    position: relative;
    height: 400px;
    width: 400px;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction:column;
    align-items: center;
}

